.confirmation {
    color: $black;
    background-color: $white;

    .container {
        max-width: 70rem;
        padding: 7.5rem 0;

        h1 {
            @include text-condensed($color: $black);
            margin: 0 0 $default-margin 0;
            display: block;
            color: inherit;
        }

        p {
            font-size: 2.2rem;
            line-height: 1.7;
            color: inherit;
        }

        a {
            text-decoration: underline;
            color: inherit;
        }
    }
}
