// Colors
$white: #FFFFFF;
$black: #191919;
$dark-grey: #2B2B2B;
$light-grey: #EEEEEE;
$medium-grey: #676767;
$brand-purple: #ff2e35;
$brand-yellow: #ffd452;

$light-blue: #2f2f40;
$light-accent-dark: #151525;
$light-accent: #1c1a2f;
$semi-dark-color: #1c1a29;
$dark-blue: #13121f;
$charred-blue: #0c0c15;
$charcoal: #131313;
$potential-blue: #93cbf3;
// $red-accent: #A63D40;

// Sizes
$large-margin: 10rem;
$default-margin: 7.5rem;
$medium-margin: 5rem;
$small-margin: 3rem;

// Fonts
$default-font: 'Montserrat', sans-serif;
